.sign-in-header {
	text-align: center;
	color: #eb7878;
	margin-bottom: 10px;
}

.signin-container {
	max-width: 400px;
	margin: 0 auto 20px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signin-form {
	display: flex;
	flex-direction: column;
}
